.handle {
  z-index: 1000;
  width: var(--handle--width);
  height: var(--handle--height);
  background: #ddd;
}

.input {
  composes: handle;
  border: 2px solid var(--input-handle--borderColor);
}

.input[data-handlepos='top'],
.input[data-handlepos='bottom'] {
  left: 25%;
}

.output {
  composes: handle;
  border: 2px solid var(--output-handle--borderColor);
}

.output[data-handlepos='top'],
.output[data-handlepos='bottom'] {
  left: 75%;
}
