.handle {
  z-index: 1000;
  width: var(--handle--width);
  height: var(--handle--height);
  background: #ddd;
}

.input {
  composes: handle;
  border: 2px solid var(--input-handle--borderColor);
}

.input[data-handlepos='top'] {
  left: 0;
  top: 10%;
}

.input[data-handlepos='bottom'] {
  left: 0;
  bottom: 10%;
}

.output {
  composes: handle;
  border: 2px solid var(--output-handle--borderColor);
}

.output[data-handlepos='top'] {
  left: 100%;
  top: 10%;
}

.output[data-handlepos='bottom'] {
  left: 100%;
  bottom: 10%;
}
