.wrapper {
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
  font-size: 0.875rem;
  border: 2px solid transparent;
  background-color: var(--node--bgColor);
  min-width: 60px; /* for standard width */
  max-width: 300px;
  padding: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tooltip {
  font-size: 0.875rem;
}
