.wrapper {
  border-radius: 0.25rem;
  font-size: 0.875rem;
  border: 1px solid darkslategray;
  background-color: var(--node--bgColor);
  min-width: 60px; /* for standard width */
  max-width: 300px;
  padding: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tooltip {
  font-size: 0.875rem;
}
