.bendingText {
  font-size: var(--edgeLabel--fontSize);
}

.bendingText[data-selected] {
  font-weight: bold;
}

.multiLineLabel {
  position: absolute;
  background-color: var(--node--bgColor);
  color: var(--edge-color);
  border: var(--edge-width) solid var(--edge-color);
  border-radius: 2px;
  overflow: hidden;
  word-wrap: break-word;
  padding: 2px 5px;
  font-size: var(--edgeLabel--fontSize);
}

.multiLineLabel[data-selected] {
  border-width: var(--selected-edge--width);
}
