# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so
/doc/_generated
*.log
npm-debug.log*
package-lock.json
node_modules/

# Distribution / packaging
/build/
/pybuild/
/ewoksserver/static/
/dist/
*.egg-info/
.eggs/

# Others
/.env.*
Thumbs.db
.DS_Store
/src/data/directed.json
