# Save exact dependency versions in `package.json`
save-prefix=""

# Use experimental lockfile format to reduce merge conflicts (requires pnpm >= 7.7.0)
use-inline-specifiers-lockfile-format = true

# Run pre/post scripts, like `prebuild`, automatically
enable-pre-post-scripts=true
