.crumbs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.labelHint {
  font-weight: lighter;
  font-style: italic;
  font-size: 1rem;
}
