.container {
  display: grid;
  grid-template-columns: 24px 24px;
  grid-template-rows: 24px 24px;
}

.edit {
  grid-column: 1;
  grid-row: 1;
}

.clone {
  grid-column: 2;
  grid-row: 1;
}

.delete {
  grid-column: 2;
  grid-row: 2;
}
