.react-flow__edge-path:hover {
  cursor: grab;
}

.react-flow__edge-textbg:hover {
  cursor: grab;
}

.react-flow__handle-top {
  top: -35px;
  border-radius: 0;
}

.react-flow__handle {
  width: 10px;
}

.selected path {
  stroke: var(--selected-edge--color) !important;
}

.selected text {
  fill: var(--selected-edge--color) !important;
}

.selected textPath {
  fill: var(--selected-edge--color) !important;
}

.selected rect {
  stroke: var(--selected-edge--color) !important;
}

.selected div {
  border-color: var(--selected-edge--color) !important;
  color: var(--selected-edge--color) !important;
}

.bendingText {
  font-size: 16px;
}

.multiLineDiv {
  background-color: rgb(223, 226, 247);
  color: rgb(150, 165, 249);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(150, 165, 249);
  overflow: hidden;
  word-wrap: break-word;
  padding: 1px;
}
