.react-flow__edge-path:hover {
  cursor: grab;
}

.react-flow__edge-textbg:hover {
  cursor: grab;
}

.react-flow__handle-top {
  top: -35px;
  border-radius: 0;
}

.react-flow__handle {
  width: 10px;
}

.react-flow__edge.selected path {
  stroke-width: var(--selected-edge--width) !important;
  stroke-linecap: round;
}

.react-flow__edge.selected rect {
  stroke-width: var(--selected-edge--width) !important;
}

.react-flow__edge.selected div {
  border-width: var(--selected-edge--width) !important;
  font-weight: bold !important;
}

.react-flow__edge.selected text {
  font-weight: bold !important;
}

.react-flow__edge.selected textPath {
  font-weight: bold !important;
}

.node-content {
  display: flex;
  flex-direction: column;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
  font-size: 10pt;
  border: 2px solid rgb(233, 235, 247);
  background-color: var(--node--bgColor);
}

.react-flow__node {
  border: dashed 2px rgba(0, 0, 0, 0);
  border-radius: 15px;
}

.react-flow__node.selected {
  border-color: var(--selected-node--color);
}

.react-flow__node.selected .node-content {
  background-color: var(--selected-node--bgColor);
  color: var(--selected-node--color) !important;
}

.bendingText {
  font-size: 16px;
}

.multiLineDiv {
  background-color: rgb(223, 226, 247);
  color: rgb(150, 165, 249);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(150, 165, 249);
  overflow: hidden;
  word-wrap: break-word;
  padding: 1px;
}

.react-flow__arrowhead[id$='arrow'] polyline {
  stroke: context-stroke;
}

.react-flow__arrowhead[id$='arrowclosed'] polyline {
  stroke: context-stroke;
  fill: context-stroke;
}
