.infoAccordion {
  width: 98%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin: 20px;
}

.iconDetails {
  overflow: 'hidden';
  overflow-wrap: 'break-word';
  overflow: 'hidden';
  position: 'relative';
  text-align: 'center';
  color: 'black';
  display: 'flex';
}
