:root {
  --text: #020402;
  --monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  --sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --selected-edge--color: rgb(10, 34, 78);
}
