:root {
  --black: #020402;
  --primary: #3f51b5;
  --primary-light: #1976d2;
  --primary-lighter: #64b5f6;
  --monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  --sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --canvas-bgColor: rgb(233, 235, 247);
  --node--bgColor: rgb(245, 245, 245);
  --node--borderColor: rgb(47, 79, 79);
  --nodeLabel--bgColor: rgb(245, 245, 245);
  --edge-width: 2px;
  --selected-edge--width: 3px;
  --edge-color: var(--primary-light);
  --edgeLabel--fontSize: 0.75rem;
  --handle--width: 10px;
  --handle--height: 10px;
  --input-handle--borderColor: var(--edge-color);
  --output-handle--borderColor: var(--edge-color);
}
