.btn {
  composes: btnClean from global;
  display: flex;
  overflow: hidden;
}

.label {
  margin-left: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: grab;
}

.icon > img,
.icon > svg {
  width: 60px;
}

.draggableContent {
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: grab;
}
