.drawer {
  width: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.drawer[data-open] {
  display: block;
  width: 250px;
  padding-left: 0.25rem;
}

.openButton {
  position: absolute !important;
  transition: transform 0.3s ease-in-out !important;
  left: 10px;
  top: 72px;
}

.openButton[data-open] {
  left: 230px;
}

.openButton:hover {
  transform: scale(1.1);
}

.subgraph {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: black;
}
