.navbar {
  background-color: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  min-height: 64px;
  position: sticky;
  top: 0;
}

.navlinks {
  display: flex;
}

.navlinks a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 2rem;
}

.link {
  font-size: 1.25rem;
  padding: 0 0.5rem;
  display: inline-flex;
  border-bottom: solid 3px transparent;
}

.link:hover {
  border-bottom-color: var(--primary-light);
}

.link[aria-current] {
  border-bottom-color: var(--primary-lighter);
}
