.navbar {
  --bgColor: #3f51b5;
  --hoverColor: #1976d2;
  --selectedColor: #64b5f6;
  background-color: var(--bgColor);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  min-height: 64px;
}

.navlinks {
  display: flex;
}

.navlinks a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 2rem;
}

.link {
  font-size: 1.25rem;
  padding: 0 0.5rem;
  display: inline-flex;
  border-bottom: solid 3px transparent;
}

.link:hover {
  border-bottom-color: var(--hoverColor);
}

.link[data-selected='true'] {
  border-bottom-color: var(--selectedColor);
}
