.root {
  flex: 1;
  display: flex;
}

.wrapper {
  flex: 1;
  background-color: rgb(233, 235, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}

.noWorkflowMessage {
  position: fixed;
  top: 50%;
  transform: translateY(calc(-50% - 1rem));
  left: 30%;
  z-index: 1000;
  color: #3f51b5;
  opacity: 0.5;
  text-align: center;
  pointer-events: none; /* Let RF events go through the message */
}
