.nodesTableCell {
  width: 25%;
}

.typeTableCell {
  width: 15%;
}

.nameTableCell {
  width: 20%;
}

.valueTableCell {
  width: 40%;
}

.saveWarning {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  color: #5298dd;
}
